@import url("https://fonts.google.com/specimen/Karla?query=kar");
* {
  font-family: "Kanit", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Viga", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  justify-content: center;
  font-family: "Karla", sans-serif;
  width: 100%;
  height: 100vh;
  background: #fff0f3;
  overflow: hidden;
}

.container {
  margin: 30px auto;
  max-width: 400px;
  width: 100%;
  background-color: #fffffc;
  border: 1px solid #413839f9;
  border-radius: 4px;
  background: #fffffc;
  box-shadow: 0 0 3px #f1c0e8;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
  position: relative;
  z-index: 9;
  box-shadow: 0px 15px 5px -15px #cfbaf0;
}
select,
button,
input {
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  height: 34px;
  line-height: 34px;
}

select {
  padding: 0 10px;
  width: 160px;
  font-size: 14px;
}
#color-input {
  padding: 0.5px 1px;
  border: none;
  outline: none;
}
#color-input:focus,
#color-input:hover {
  border: none;
  outline: none;
}
#color-scheme-button {
  width: 120px;
  font-size: 12px;
}

#color-scheme-button,
select,
.color-hex {
  background: #fff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

#color-scheme-container {
  display: grid;
  height: 400px;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 0 0 4px 4px;
}

.pallete {
  height: 100%;
  display: flex;
  align-self: center;
}
.hex-color {
  height: 40px;
  text-align: center;
  line-height: 40px;
  width: 100%;
  font-size: 0.9rem;
  background: #fffffc;
  margin-top: auto;
  font-size: 1;
  font-weight: 500;
  cursor: pointer;
}
.menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: #9F6221;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: #161817;
  color: #51504C;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 200px;
  border: 0.25rem; 
}
.item-info header {
  display: flex;
  justify-content: space-between;
  
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .menu-item {
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 728px;
  }
  .photo {
    height: 150px;
  }
}

:root {
  --black: #000;
  --light-grey: #dfe6df;
  --dark-grey: #BEC4BE;
  --light-red: #f87171;
  --dark-red: #945B5A;
  --gray: #252c30;

  /*Intentions */
  --primary: var(--light-grey);
  --secondary: var(--dark-grey);

 /*Typography */
 --h2: 5.594rem;
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}
.cool {
  --primary: var(--light-grey);
  --secondary: var(--dark-grey);
}
.hero {
  background-color: var(--primary);
}
.main {
  background-color: var(--secondary);
  height: 490vh;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 1rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}